<!-- <form action="/user/payment" method="post"> -->
<div class="column">
    <div class="field">
        <h3 style="font-size:4vw"><b>Payment method</b></h3>
    </div>
    <div>
        <div class="columns">
            <div class="column">
                <b>Total amount:</b>
                $<%= payment.payments[payment.payments.length - 1].total %>
            </div>
            <div class="column">
                <b>Current balance:</b>
                $<%= req.session.value %>
            </div>
        </div>
    </div>
    <br>
    <div>
        <label class="radio">
            <input type="radio" name="method" value="creditCard">
            By credit card (Please input the CVV code behind your credit card.)
        </label>
    </div>
    <div class="container">
        <div class="columns">
            <div class="column is-four-fifths">
                <input class="input" type="text" name="" value="<%= req.session.cardNum %>" disabled>
            </div>

            <div class="column is-one-fifth">
                <input class="input" type="text" name="safeCode" value="">
            </div>
        </div>
    </div>
    <br>
    <div>
        <label class="radio">
            <input type="radio" name="method" value="ownValue">
            By own value
        </label>
    </div>
    <input class="input" type="hidden" name="title" value="<%= user.records[user.records.length - 1].title %>">
    <input class="input" type="hidden" name="price" value="<%= user.records[user.records.length - 1].price %>">
    <input class="input" type="hidden" name="quantity" value="<%= user.records[user.records.length - 1].quantity %>">
    <input class="input" type="hidden" name="make" value="<%= req.session.userid %>">
    <div class="field">
        <div class="control">
            <button class="button is-link is-pulled-right" type="submit" onclick="submit()">Confirm</button>
        </div>
    </div>
</div>
<!-- </form> -->

<script>
    async function submit() {
        var r = confirm("Confirm?");

        if (r) {
            var response = await fetch("/user/payment", {
                method: "POST"
            });

            if (response.ok) {
                alert("Finished payment");
                location.assign("/priceTracker/homepage");
            } else if (response.status == 409) {
                var e = await response.json();
                alert(e);
            } else if (response.status == 404) {
                var e = await response.json();
                alert(e);
            } else if (response.status == 401) {
                var e = await response.json();
                alert(e)
            }
        } else {
            alert(response.statusText);
        }
    };
</script>