<% if (products.length> 0) { %>
    <form action="/user/record" method="post">
        <div class="column">
            <div class="field">
                <h3 style="font-size:4vw"><b>Shopping Cart</b></h3>
            </div>
            <% products.forEach ( function(product) { %>
                <div class="box">
                    <article class="media">
                        <div class="media-left">
                            <figure class="image is-64x64">
                                <a href="http://localhost:1337/priceTracker/category/drinks/<%= product.id %>">
                                    <img src="<%= product.imgUrl %>" alt="">
                                </a>
                            </figure>
                        </div>
                        <div class="media-content">
                            <div class="content">
                                <h3 class="title">
                                    <a href="http://localhost:1337/priceTracker/category/drinks">
                                        <input class="input" type="hidden" name="title" value="<%= product.title %>">
                                        <%= product.title %>
                                    </a>
                                </h3>
                                <p>
                                    <b>Price:</b>
                                    <input class="input" type="hidden" name="price" value="<%= product.price %>">
                                    <%= product.price %>
                                </p>
                                <p>
                                    <b>Shop:</b>
                                    <input class="input" type="hidden" name="price" value="<%= product.shop %>">
                                    <%= product.shop %>
                                </p>
                            </div>
                            <div class="level-right">
                                <a class="level-item" aria-label="reply">
                                    <span class="icon is-small">
                                        <button class="fas fa-trash-alt" type="button" aria-hidden="true"
                                            onclick="deleteProduct('<%= product.id %>')"></button>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </article>
                </div>
                <br>
                <% }); %>
                    <div class="field">
                        <div class="control">
                            <button class="button is-link is-pulled-right" type="submit" onclick="submit()">Make
                                payment</button>
                        </div>
                    </div>
        </div>
    </form>
    <% } else { %>
        <div class="fields">
            <h3 style="font-size:4vw">
                Your shopping cart is empty. Go shop now!
                </h1>
        </div>
        <br>
        <div class="field">
            <p class="control">
                <a class="button is-info" href="/priceTracker/homepage">Shop now
                </a>
            </p>
        </div>
        <% } %>


            <script>
                async function deleteProduct(id) {
                    var r = confirm("Confirm Delete?", id);

                    if (r) {
                        var response = await fetch("/user/products/remove/" + id, {
                            method: "POST",
                        });

                        if (response.ok) {
                            alert("Product deleted.");
                            location.assign("/user/purchase");
                        } else {
                            alert(response.status + ": " + response.statusText);
                        }

                    } else {
                        alert("cancelled");
                    }
                };
            </script>