<form action="/user/payment" method="post">
    <div class="column">
        <div class="field">
            <h3 style="font-size:4vw"><b>Summary</b></h3>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>No.</th>
                    <th>Title</th>
                    <th>Store</th>
                    <th>Quantity</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th>Total:</th>
                    <th>
                        <input class="input" type="hidden" name="total" value="<%= total %>">
                        $<%= total %>
                    </th>
                </tr>
            </tfoot>

            <% if (typeof record.title==='string' ) { %>
                <tbody>
                    <tr>
                        <td>
                            <%= list %>.
                        </td>
                        <td>
                            <input class="input" type="hidden" name="title" value="<%= record.title %>">
                            <%= record.title %>
                        </td>
                        <td>
                            <input class="input" type="hidden" name="shop" value="<%= record.shop %>">
                            <%= record.shop %>
                        </td>
                        <td>
                            <input class="input" type="hidden" name="price" value="<%= record.quantity[0] %>">
                            <%= record.quantity[0] %>
                        </td>
                        <td>
                            <input class="input" type="hidden" name="price" value="<%= record.price %>">
                            <%= record.price %>
                        </td>
                    </tr>
                </tbody>
                <% list++; %>
                    <% } else { %>
                        <% record.title.forEach( function(title) { %>
                            <tbody>
                                <tr>
                                    <td>
                                        <%= list %>.
                                    </td>
                                    <td>
                                        <input class="input" type="hidden" name="title" value="<%= title %>">
                                        <%= title %>
                                    </td>
                                    <td>
                                        <input class="input" type="hidden" name="shop"
                                            value="<%= record.shop[count] %>">
                                        <%= record.shop[count] %>
                                    </td>
                                    <td>
                                        <input class="input" type="hidden" name="price"
                                            value="<%= record.quantity[count] %>">
                                        <%= record.quantity[count] %>
                                    </td>
                                    <td>
                                        <input class="input" type="hidden" name="price"
                                            value="<%= record.price[count] %>">
                                        <%= record.price[count] %>
                                    </td>
                                </tr>
                            </tbody>
                            <% count++; %>
                                <% list++; %>
                                    <% }); %>
                                        <% } %>
        </table>
    </div>
    <div class="field">
        <div class="control">
            <button class="button is-link is-pulled-right" type="submit" onclick="submit()">Confirm payment</button>
        </div>
    </div>
</form>