<body>
    <!-- <form action="/priceTracker/homepage" method="POST"> -->
    <div class="columns">
        <div class="column">
            <div class="field">
                <figure class="image">
                    <img src="<%= product.imgUrl %>" alt="Placeholder image">
                </figure>
            </div>
        </div>


        <div class="column">
            <div class="field">
                <li><b>Title: </b>
                    <%= product.title %>
                </li>
                <li><b>Price: </b>
                    <%= product.price %>
                </li>
                <li><b>Source: </b>
                    <%= product.shop %>
                </li>
            </div>

            <div class="field is-grouped">
                <p class="control">
                    <button class="js-modal-trigger button is-link" data-target="modal-js-example">
                        <span class="icon is-small">
                            <i class="far fa-list-alt"></i>
                        </span>
                        <span>Define Preference</span>
                    </button>
                </p>
                <p class="control">
                    <button class="button is-info" onclick="purchase('<%= product.id %>')">
                        <span class="icon is-small">
                            <i class="fas fa-shopping-cart"></i>
                        </span>
                        <span>Add to cart</span>
                    </button>
                </p>
            </div>
        </div>
    </div>

    <div id="modal-js-example" class="modal">
        <div class="modal-background"></div>

        <div class="modal-content">
            <div class="box">
                <form action="/priceTracker/category/drinks/<%= product.type %>/<%= product.id %>" method="POST">
                    <p style="font-size:30px"><b>Preference</b></p>
                    <div class="field">
                        <label class="label">Prefered Price:</label>
                        <div class="control">
                            <input class="input" type="number" name="prePrice" required>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Prefered Quantity:</label>
                        <div class="control">
                            <input class="input" type="number" name="preQuantity" required>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Expiry Date:</label>
                        <div class="control">
                            <input class="input" type="date" name="expiryDate" required>
                        </div>
                    </div>

                    <input class="input" type="hidden" name="own" value="<%= product.id %>" required>
                    <input class="input" type="hidden" name="title" value="<%= product.title %>" required>
                    <input class="input" type="hidden" name="define" value="<%= req.session.userid %>" required>

                    <div class="field">
                        <div class="control">
                            <button class="button is-link" type="submit"
                                onclick="matching('<%= product.id %>')">Define</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <!-- </form> -->
</body>

<script>
    async function purchase(fk) {
        var r = confirm("Add to cart?");

        if (r) {
            var response = await fetch("/user/products/add/" + fk, {
                method: "POST"
            });

            if (response.ok) {
                alert("Add to cart success");
                location.assign("/priceTracker/category/drinks/carbonated-drinks/" + fk);
            } else if (response.status == 409) {
                var e = await response.json();
                alert(e);
            } else if (response.status == 404) {
                var e = await response.json();
                alert(e);
            } else if (response.status == 401) {
                var e = await response.json();
                alert(e)
            }
        } else {
            alert(response.statusText);
        }
    };
</script>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        // Functions to open and close a modal
        function openModal($el) {
            $el.classList.add('is-active');
        }

        function closeModal($el) {
            $el.classList.remove('is-active');
        }

        function closeAllModals() {
            (document.querySelectorAll('.modal') || []).forEach(($modal) => {
                closeModal($modal);
            });
        }

        // Add a click event on buttons to open a specific modal
        (document.querySelectorAll('.js-modal-trigger') || []).forEach(($trigger) => {
            const modal = $trigger.dataset.target;
            const $target = document.getElementById(modal);
            console.log($target);

            $trigger.addEventListener('click', () => {
                openModal($target);
            });
        });

        // Add a click event on various child elements to close the parent modal
        (document.querySelectorAll('.modal-background, .modal-close, .modal-card-head .delete, .modal-card-foot .button') || []).forEach(($close) => {
            const $target = $close.closest('.modal');

            $close.addEventListener('click', () => {
                closeModal($target);
            });
        });

        // Add a keyboard event to close all modals
        document.addEventListener('keydown', (event) => {
            const e = event || window.event;

            if (e.keyCode === 27) { // Escape key
                closeAllModals();
            }
        });
    });
</script>

<script>
    async function matching(productID) {
        alert(productID)
        var thatProduct = await fetch("/priceTracker/category/drinks/find/" + productID, {
            method: "GET"
        });
        console.log("type thatProduct :" + typeof(thatProduct))

        console.log(thatProduct)

        console.log("thatProduct.title" + thatProduct.title)

        alert("thatProduct.title " + thatProduct.title)

        var string1 = JSON.stringify(thatProduct)

        console.log("type string1 :" + typeof(string1))

        console.log("thatProduct.title" + string1.title)

        alert("string1.title " + string1.title)

        var obj = JSON.parse(string1)

        console.log("type obj :" + typeof(obj))

        console.log("obj.title " + obj.title)

        alert("obj.title " + obj.title)

    }
</script>

<!-- <script>
    var matching = (async (productID) => {
        try {
            alert(productID)
            var thatProduct = await fetch("/priceTracker/category/drinks/find/" + productID, {
                method: "GET"
            });

            console.log(thatProduct)

            console.log("thatProduct.title" + thatProduct.title)

            alert("thatProduct.title " + thatProduct.title)

            var string1 = JSON.stringify(thatProduct)

            console.log("thatProduct.title" + string1.title)

            alert("string1.title " + string1.title)

            var obj = JSON.parse(string1)

            console.log("obj.title " + obj.title)

            alert("obj.title " + obj.title)

        } catch (e) {
            alert(e)
        }
    });
</script> -->


<!-- var thatProduct = await fetch("/priceTracker/category/drinks/find/" + productID, {
method: "GET"
});

alert(thatProduct) -->